* {
        /*Reset's every elements apperance*/
        background: none repeat scroll 0 0 transparent;
        border: medium none;
        border-spacing: 0;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.42rem;
        list-style: none outside none;
        margin: 0;
        padding: 0;
        text-align: left;
        text-decoration: none;
        text-indent: 0;
}

body{
  padding: 0;
  margin: 0;
}
div{
  margin: 0;
  padding: 0;
}

#architecture-canvas{
}

#data-eval{
  width: 300px;
}

.controls{
  width: 100%;
  text-align: center;
  outline: none;
}
.controls input{
  width: 60px;
  border: 1px solid rgb(200,200,200);
  border-radius:3px;
  margin: 4px;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  outline: none;
}

.controls textarea{
  width: 260px;
  height: 70px;
  border: 1px solid rgb(200,200,200);
  border-radius:3px;
  margin: 4px;
  padding: 5px;
  resize: none;
}

.controls textarea:focus{
  outline:none;
}

#add-layer{
  width:26px;
  font-size: 22px;
}

#remove-layer{
  width:26px;
  font-size: 26px;
}

.train-controls{
  margin-top:20px;
}

.controls button{
  margin: 4px;
  width: 100px;
  height: 28px;
  border-radius: 3px;
  text-align: center;
  outline: none;
  cursor: pointer;
}

.run{
  background: rgb(30,180,250);
  color: white;
  cursor: pointer;
  outline: none;
}

.train{
  background: rgb(30,180,250);
  color: white;
  cursor: pointer;
  outline: none;
}

.stop{
  background: rgb(250,20,20);
  color: white;
  cursor: pointer;
  outline: none;
}

.container{
  padding-left: 60px;
  padding-right: 60px;
  width: calc(100% - 120px);

  display: flex;
  justify-content: space-between;
}

.architecture{
  width:800px;
  height: 500px;
  margin: auto;
}

.input{
  width: 260px;
}

.output{
  width:260px;
}
